<h2>Create a New Film ~here~</h2>

<!-- method is always the request method/http verb -->
<!-- action is ALWAYS the url it needs to go -->
<form action="/films" method="POST">
  <div>
    <label>Title</label>
    <input type="text" name="title"/>
  </div>
  <div>
    <label>Year</label>
    <input type="number" name="year"/>
  </div>
  <div>
    <label>Genre</label>
    <input type="text" name="genre"/>
  </div>
    <input type="submit"/>
</form>
